body {
    margin: 0;
    background: 
        linear-gradient(
            100deg,
            blueviolet,
            red
        );
    /*background-image: url(Chicken_Nuggets.jpg);*/
    text-align: center;
    align-items: center;
}
.white {
    color:white;
}

.a {
    background-image: url(saxophone.jpg);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.col {
    float:left;
    width:25%;
    padding:0px;
}

.arrow::before {
    content: "";
    display: flex;
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    border: 2px;
    
}
.parent p {
    color:blueviolet;
    background-color: crimson;
}

.container {
    background: rgb(255, 255, 255);
}

t {
    border: 3px solid rgb(247, 125, 125);
}